
.caixa_formulario {
    background-color: white;
    width: 400px;
    height: 420px;
    color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}